/* Calendar */
.react-calendar__navigation {
  height: 35px;
}
.react-calendar {
  width: 310px;
  height: 300px;
  max-width: 100%;
  border: none;
  border-radius: 0.8em;

}
.react-calendar__navigation__arrow {
  font-size: 30px;
}
.react-calendar__navigation__label {
  padding-top: 4px;
}
.react-calendar__navigation__label span {
  font-size: 20px;
  color: #5f99ff;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: white;
}

.react-calendar__month-view__days {
  width: 310px;
}
.react-calendar__month-view__days__day {
  padding: 14px 0;
}
.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}
.react-calendar__month-view__weekdays__weekday {
  padding: 5px;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background: #f8f8fa;
  color: #5f99ff;
  border-radius: 30px;
}
.react-calendar__tile--now {
  background: #f8f8fa;
  border-radius: 30px;
  color: black;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #f8f8fa;
  border-radius: 30px;
  color: #5f99ff;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #f8f8fa;
}
.react-calendar__tile--active {
  background: #5f99ff;
  border-radius: 30px;
  color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #5f99ff;
  color: white;
}

@media screen and (max-width: 1300px) {
  .react-calendar {
    width: 100%;
    max-width: 300px;
    max-height: 300px;
    padding: 0;
  }
  .react-calendar__month-view__days {
    width: 300px;
  }
  .react-calendar__navigation {
    margin-bottom: 10px;
  }
  .react-calendar__month-view__days__day {
    padding: 14px 0;
  }
  .react-calendar__month-view__weekdays__weekday {
    padding: 5px 3px;
  }
}
@media screen and (max-width: 768px) {
  .react-calendar {
    width: 100%;
    max-width: 250px;
    max-height: 250px;
    border-radius: 0.8em;
  }
  .react-calendar__month-view__days {
    width: 250px;
  }
  .react-calendar__navigation {
    margin-bottom: 5px;
  }
  .react-calendar__month-view__days__day {
    padding: 9px 0;
  }
}
