name: CI/CD

on:
  push:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@master

      - name: Cache node modules
        uses: actions/cache@v1
        with:
          path: node_modules
          key: ${{ runner.OS }}-master-build-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.OS }}-build-
            ${{ runner.OS }}-

      - name: Install Dependencies
        run: npm install

      - name: Setting .env
        run: |
          echo "REACT_APP_API_URL=${{secrets.REACT_APP_API_URL}}" >> .env
          echo "REACT_APP_KAKAO_REDIRECT_URI=${{secrets.REACT_APP_KAKAO_REDIRECT_URI}}" >> .env
          echo "REACT_APP_GOOGLE_REDIRECT_URI=${{secrets.REACT_APP_GOOGLE_REDIRECT_URI}}" >> .env
          echo "REACT_APP_NAVER_REDIRECT_URI=${{secrets.REACT_APP_NAVER_REDIRECT_URI}}" >> .env
          echo "REACT_APP_KAKAO_CLIENT_ID=${{secrets.REACT_APP_KAKAO_CLIENT_ID}}" >> .env
          echo "REACT_APP_NAVER_CLIENT_ID=${{secrets.REACT_APP_NAVER_CLIENT_ID}}" >> .env
          echo "REACT_APP_GOOGLE_CLIENT_ID=${{secrets.REACT_APP_GOOGLE_CLIENT_ID}}" >> .env
          echo "REACT_APP_NAVER_CLIENT_SECRET=${{secrets.REACT_APP_NAVER_CLIENT_SECRET}}" >> .env
          echo "REACT_APP_GOOGLE_CLIENT_SECRET=${{secrets.REACT_APP_GOOGLE_CLIENT_SECRET}}" >> .env
          cat .env

      - name: Build
        env:
          CI: ""
        run: npm run build

      - name: Deploy to S3
        uses: jakejarvis/s3-sync-action@master
        with:
          args: --acl public-read --delete
        env:
          AWS_S3_BUCKET: ${{ secrets.AWS_S3_BUCKET }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY}}
          SOURCE_DIR: "build"
          SKIP_PREFLIGHT_CHECK: ${{ secrets.SKIP_PREFLIGHT_CHECK }}
          AWS_REGION: ${{ secrets.AWS_REGION }}

      - name: Invalidate CloudFront Cache
        run: aws cloudfront create-invalidation --distribution-id ${{secrets.DISTRIBUTION_ID}} --paths "/*"
